<div>

    <h3>Photo - Source Of Truth</h3>
    <span style="color:red;" *ngIf="message">{{message}}</span>
    <input #searchBox type='text' id="txt_search_term" name="url" placeholder="Enter Url of the image"> <button
        type="submit" (click)="verify(searchBox.value)">Verify</button>
        <button
        type="submit" (click)="search(searchBox.value)">Search</button>
    <!--<input #file type="file" accept='image/*' (change)="preview(file.files)" />-->
    <img [src]="imgURL" height="200" *ngIf="imgURL" id="img">
</div>
<div>
    <ng-container *ngIf="verifiedNewsItemInfo">
        <h1>Verified Info</h1>
            <div class="row no-gutters mt-3">
                    <div> 
                        <img src="{{verifiedNewsItemInfo.url}}"/>
                    </div>
                   <p>
                        {{verifiedNewsItemInfo.id}}
                   </p>
                   <p>
                        {{verifiedNewsItemInfo.title}}
                   </p>
                   <p>
                        {{verifiedNewsItemInfo.Author.name}}
                   </p>
                   <p>
                        {{verifiedNewsItemInfo.description}}
                   </p>
               
            </div>
        </ng-container>
        <ng-container *ngIf="(!verifiedNewsItemInfo) && searchBox.value.length>0">
            <div>
                Your image doesnt match with our search or not verified.
            </div>
        </ng-container>
</div>
<div>
  <ng-container *ngIf="searchResultInfo">
        <h1>Simillar Items</h1>
        <div class="row no-gutters mt-3">
            <ng-container *ngFor="let newsItem of searchResultInfo?.contentRegistryItem, let i = index">
                    <div> 
                        <img src="{{newsItem.url}}"/>
                    </div>
               <p>
                    {{newsItem.id}}
               </p>
               <p>
                    {{newsItem.title}}
               </p>
               <p>
                    {{newsItem.Author.name}}
               </p>
               <p>
                    {{newsItem.description}}
               </p>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="(!searchResultInfo || searchResultInfo.contentRegistryItem.length==0) && searchBox.value.length>0">
        <div>
            Your image doesnt match with our search or not verified.
        </div>
    </ng-container>
</div>